<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/style.css}">
<body>
<nav th:fragment="menu">
    <ul>
        <li><a href = "/o-nas">O NAS</a></li>
        <li><a href = "/">HOME</a></li>
        <li><a href = "/trenerzy">TRENERZY</a></li>
        <li><a href = "/kontakt">KONTAKT</a></li>
        <li><a href = "/kursy">DOSTĘPNE KURSY</a></li>
        <li><a href = "/admin">ADMIN</a></li>
        <li sec:authorize="isAuthenticated()"><a href = "/logout">WYLOGUJ</a></li>

        <!-- stara metoda zrobienia wylogowywania:
        <li th:block="${#a <hentication.name}">-->
            <!--<a href="/">Wyloguj mnie</a>-->
        <!--</li>-->
    </ul>
</nav>
</body>
</html>