<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="fragments/header :: menu"></header>

    <h1>KONTAKT:</h1>

<!--span poniżej działa, jeśli wykona się dodanie wiadomości - kontakt. Zdefiniowane w Kontrolerze.-->

    <span th:if="${isSent}">Wiadomość została wysłana!<br>
    Dziękujemy!<br><br></span>

    <!--th:object - przekazuję z kontrolera-->
    <form th:action="@{/wyslij}" method="post" th:object="${contact}">

        <!--wyswietli błąd z automatu - z tablicy thErrors.
        #fields - wbudowana funkcja, hasErrors - czy ma błędy, jeśli tak, to podaje mu pole, na którym sprawdzać
        th:errors to tablica pobranych błędów, pokazuję mu, z którego pola w tablicy ma mi wydrukować błąd.. Metoda druga wyswietla tekst ktory sobie wpisuję.-->
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Nie wydurniaj się i podaj imię!</p>
        <p th:if="${#fields.hasErrors('firstName')}">Nie wydurniaj się i podaj imię!</p>
        <p th:errors="*{firstName}">Nie wydurniaj się i podaj imię!</p>

        <label for="firstName">Imię: </label>
        <input id="firstName" type="text" th:field="*{firstName}"/><br><br>

        <p th:errors="*{lastName}" class="err">Podaj cokolwiek</p>
        <label for="lastName">Nazwisko: </label>
        <input id="lastName" type="text" th:field="*{lastName}"/><br><br>

        <label for="email">e-mail: </label>
        <input id="email" type="email" th:field="*{email}"/><br><br>

        <label for="message">Wiadomość: </label>
        <textarea id="message" cols="50" rows="10" th:field="*{message}"></textarea><br><br>

        <input type="submit" value="wyslij"/><br><br>
        <input type="reset" value="wyczyść"><br><br>
    </form>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>