<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: menu"></header>

<!--<span th:text="${lastName}"></span>-->
<!--<span th:text="${firstName}"></span><br>-->
<!--<span th:text="${wiek}"></span><br>-->

<h1>
    <span th:text="${firstName} + ' ' + ${lastName}"></span>! <br>
    Witaj na bootcampie!
</h1>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>