<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TRENERZY</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: menu"></header>
<!--menu powyżej jest dowolną nazwą-->

    <h1>Nasi Trenerzy:</h1>
        <ul>
            <!--<th:block th:each="trainer : ${trainersList}">-->
                <!--&lt;!&ndash;<li th:each="trainer: ${trainersList}" th:text="${trainer.firstName}"></li> // to mi daje tylko imiona! &ndash;&gt;-->
                <!--<li th:text="${trainer.firstName} + ' '  + ${trainer.lastName} + "></li>-->
            <!--</th:block>-->

        <li th:each="trainer : ${trainersList}">
            <a th:href="'/trenerzy/'+ ${trainer.id}" + th:text="${trainer.firstName} + ' '  + ${trainer.lastName}"></a>
        </li>

        </ul>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>