<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Trenera</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <header th:replace="fragments/header :: menu"></header>

    <h1>DODAJ TRENERA</h1>

    <span th:if="${isSentTrainer}">Dodano trenera!<br>
    Dziękujemy!<br><br></span>

    <form th:action="@{/admin/dodaj_trenera}" method="post" th:object="${trainer}">
        <!--w pętli wyświetlenie wszystkich info z validacji:
        <p th:errors="*" class="error"></p>
        -->

        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="err"></p>
        <label for="firstName">Imię trenera: </label>
        <input id="firstName" type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')} ? error"/><br><br>

        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="err"></p>
        <label for="lastName">Nazwisko trenera: </label>
        <input id="lastName" type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')} ? error"/><br><br>

        <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="err"></p>
        <label for="salary">Pensja: </label>
        <input id="salary" type="number" th:field="*{salary}" th:class="${#fields.hasErrors('salary')} ? error"/><br><br>

        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="err"></p>
        <label for="description">Opis trenera: </label>
        <textarea id="description" cols="50" rows="10" th:field="*{description}" th:class="${#fields.hasErrors('description')} ? error"></textarea><br><br>

        <input type="hidden" th:field="*{id}"/>

        <input type="submit" value="dodaj"/><br><br>
        <input type="reset" value="wyczyść"><br><br>
    </form>

    <footer th:replace="fragments/footer :: stopka"></footer>
</body>
</html>